
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #2c3e50, #4ca1af);
    color: #ecf0f1;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-image: url('gp_1.webp');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(52, 73, 94, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    color: #bdc3c7;
    border-bottom: 2px solid #4ca1af;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.container p {
    color: #bdc3c7;
    margin-bottom: 15px;
}


button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4ca1af;
    color: #ecf0f1;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #2c3e50;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 20px;
    }

    button {
        font-size: 14px;
        padding: 10px 15px;
        margin: 8px 4px;
    }
}
